<h1> Auctioner! </h1>


  {{#each category in model}}
    <h3>{{#link-to 'category' category}}{{category.name}}{{/link-to}}</h3>

<h4> Items: </h4>
<div class="row">
 {{#each item in category.items}}
 <div class="col-md-3 well">
	<div class="col-md-12">
	    <p>{{item.name}}</p>
	    <li>{{item.owner}}</li>
	    <li>{{item.estimated_price}}</li>
        <h3></h3> 
   </div>
 </div>
 {{/each}}
</div>

 {{/each}}

<p><a href='#' {{action 'sortByName'}}>Sort By Name</a></p>

<p>{{#link-to 'new-category' classNames="btn btn-primary"}}New Category{{/link-to}}</p>